RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

#RewriteCond %{HTTP_HOST} ^white.board$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.white.board$
#RewriteCond %{REQUEST_URI} !tadle/web/
#RewriteRule (.*) /tadle/web/$1 [L]